<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Regist</title>
</head>
<body>
<p>
    <form method="post" enctype="application/x-www-form-urlencoded">
    <input name="name" placeholder="name"><br>
    <input name="phone" placeholder="phone"><br>
    <button>提交</button>
</form>
</p>
<p>
    POST请求参数：
    <ul>
    {% for key,value in request.POST.items %}
    <li>
    {{ key }}:{{ value }}
    </li>
    {% endfor %}

</ul>
</p>
<p>
    <button onclick="up_ajax()">ajax发起put请求</button>
    <script>
        function up_ajax() {
            data = {
                name: document.forms[0].name.value,
                phone: document.forms[0].phone.value,
            }
            let formdata = new FormData();
            formdata.append('name',data.name)
            formdata.append('phone',data.phone)
            fetch('',{
                method: 'PUT',
                {#body:'name='+data.name+"&phone="+data.phone#}
                body: JSON.stringify(data),
                headers:{
                    'Content-Type': 'application/json;charset=utf-8'
                }
            }).then(response => response.text())
                .then(html => {document.write(html)})
        }
    </script>
</p>
<p>
    PUT的参数（body）：{{ request.body }}
    <br>
    content_type: {{ request.content_type }}:{{ request.encoding }}

</p>
</body>
</html>